@import "tailwindcss";

/* Remove browser autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #4d5156 inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

#searchresult img {
  width: 100%;
  object-fit: cover;
  height: 230px;
  border-radius: 5px;
}
